<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&family=Open+Sans&display=swap" rel="stylesheet">

</head>
<body>

    <div id="firstparam">
    
    <h1 id="h11">Weather APP</h1>
    <img id="img1" src="https://maxcdn.icons8.com/Share/icon/color/Weather/windy_weather1600.png" alt=""/>
    
    </div>


    <div class="middlelayer">

        <div id="secondparam">
            <p><h1 id="name" > CITY </h1></p>
            
        </div>

        
    <div id="card">
    <div id="thirdparam">

        <div>
            <p>  <input id="inputplace" type="text" placeholder="Enter City Name" value=" ">
                <img id="img2" src="https://cdn1.iconfinder.com/data/icons/jumpicon-marketing-line/32/-_Search-Analytics-Find-Statistic-512.png" alt=""/>
            </p>
        </div>
     
      <br>
      <br>

      <div>
        <h1 style="padding: 0px;">Weather details - </h1>
      </div>

      <br>

      <div>
          <p>
      <span style="font-size: large;">Description 1 - </span>    
      <span id="lon" style="font-size: large;"> </span>
    </p>
    </div>
    
    <br>

    <div><p>
      <span style="font-size: large;">Description - </span>
      <span id="lat"></span>
    </p>
    </div>

    <br>

    <div><p>
        <span style="font-size: large;">Temperature - </span>
        <span id="temp" style="font-size: large;"></span>
        </p>
    </div>

    <br>
     
    <div><p>
        <span style="font-size: large;">Longitude - </span>
      <span id="country" style="font-size: large;"></span>
      </p>
    </div>


    </div>
    </div>

</div>





<script src="script.js"></script>

</body>

</html>